<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/app/dashboard">
                <i class="fa fa-home"></i> Projecteer
            </a>
        
            <div ng-repeat="notification in notifications | orderBy:'-createdDate'">

                <p>FROM: {{notification.fromUsername}}</p>
                <p>MESSAGE: {{notification.message}}</p>
                <p>SENT DATE: {{notification.createdDate}}</p>
                <br/>
            </div>
        </div>

        <div class="btn-group pull-right navbar-btn">
            <button type="button" class="btn btn-warning"><i class="fa fa-bell"></i></button>
            <button type="button" class="btn btn-primary">{{user.first_name}} {{user.last_name}}</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#/app/profile">Profile</a></li>
                <li><a href="#/app/user-projects">My Projects</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a ng-click="logout()">Logout</a></li>
            </ul>
        </div>
        <!-- <button id="nav-btn" data-toggle="modal" data-target="#projectModal" type="button" class="btn btn-success navbar-btn pull-right">Create Project</button> -->
        <button class="btn btn-danger navbar-btn pull-right" ng-click="openCreateProjectModal()">Create Project</button>
    </div>
</nav>
<!-- End Navbar -->

<!-- View below dashboard -->
<div style="margin-top: 30px">
    <div ui-view></div>
</div>
