<div class="container">
    <div class="row">
        <h1 class="text-center">Projects</h1>
        <div class="row">
            <div class="col-md-4 text-center" ng-repeat="project in projects | orderBy:'-createdDate'">
                <div class="box">
                    <div class="box-content">

                        <button ng-click="notifyUser()">Join this Project!</button>

                        <small>Posted {{ project.createdDate | date : 'shortDate'}} at {{project.createdDate | date : 'shortTime'}} by {{ project.createdBy }}</small>

                        <h1 class="tag-title">{{ project.name }}</h1>
                        
                        <hr />
                        
                        <p id="description">{{ project.description | limitTo: 180 }} ...</p>
                        
                        <br />
                        
                        <div>
                            <center><span id="project-tag" ng-repeat="tag in project.tags"> {{ tag }} </span></center>
                        </div>

                        <br/>

                        <a ui-sref="app.project({projectId: project._id })" class="btn btn-block btn-primary">View Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>
<!--<div class="container pull-right"><h3>{{projects | json}}</h3></div>-->