<div class="background">
	<div class="container" id="profile">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-12">
				<div class="well">
					<div class="row">
						<div class="col-sm-6 col-md-4">
							<img src="../../assets/images/multimedia.png" class="img-rounded img-responsive" style="border: 1px solid #ebebeb; margin: 10px 0px;" />

							<div flow-init="{target: '/upload'}"
							     flow-files-submitted="$flow.upload()"
							     flow-file-success="$file.msg = $message">

							  <span class="btn btn-info" flow-btn>Upload File</span>

							  <table>
							    <tr ng-repeat="file in $flow.files">
							        <td>{{$index+1}}</td>
							        <td>{{file.name}}</td>
							        <td>{{file.msg}}</td>
							    </tr>
							  </table>
							</div>

						</div>
						<div class="col-sm-6 col-md-8">
	                            <h1>{{ project.name }}</h1>
	                            <h3>Created by: {{project.createdBy}}</h3>
	                            <h4>Date: {{project.createdDate | date: 'short'}}</h4>
	                            <p>
	                            {{ project.description }}
	                            </p>
	                            <h2>Tags: </h2>
	                            <text id="project-tag" ng-repeat="tag in project.tags">{{tag}}</text>
	                    </div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>