<div class="background">
<div class="container">
    <div class="row">
        <h1 class="text-center">Projects</h1>
        <div class="row">

            <!-- <h2>{{ noProjects.message }}</h2> -->

            <div class="col-md-4 text-center" ng-repeat="project in userProjects | orderBy:'-createdDate'">
                <div ng-if="project.name">
                    <div class="box">
                        <div class="box-content">
                            <div class="box-header">
                                <span id="created" class="pull-left"><small>Posted {{ project.createdDate | date : 'shortDate'}} at {{project.createdDate | date : 'shortTime'}}</small>
                                <br/>
                                <small>by {{ project.createdBy }}</small>
                                </span>
                                <button id="deleteProject" class="btn btn-danger pull-right" ng-click="deleteProject(project)">Delete</button>
                            </div>
                            <div class="box-body">
                            <h1 class="box-title">{{ project.name }}</h1>
        
                            <hr />
                            
                            <p id="description">{{ project.description }}</p>
                            
                            <br />
                            </div>
                            <div id="tags">
                                <span id="project-tag" ng-repeat="tag in project.tags"> {{ tag }} </span>
                            </div>

                            <br/>

                            <div class="btn btn-block btn-primary">Edit</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
